div.couleurbody {
    background-color: #a7a7a7;
  }

div.retourhaut {
    text-align: center;
    height: auto;   
}

p {
  text-align: justify;
}

main {
  margin-top: 150px;
  margin-bottom: 50px;
}
