h1{
    color: red;
    text-align: center;
}
h2{
    color: red;
     
}
hr{ 
    
    background-color: red;
    padding: 2px;
    border-color: red

}
h3{color: red;}
h4{color: red;}
h5{color: red;}
h6{color: red;}
h7{color: red;}
h8{color: red;}
h9{color: red;}
h10{color: red;}
h11{color: red;}
h12{color: red;}
h13{color: red;}
h14{color: red;}
h15{color: red;}
h16{color: red;}
h17{color: red;}
h18{color: red;}
h19{color: red;}
h20{color: red;}
h21{color: red;}
h22{color: red;}
h23{color: red;}
h24{color: red;}
