

header { /* Global */
  position: fixed; /* Elle bouge pas */
  width: 100%; /* Prend toute la largeur */
  top: 0%; } /* Reste en haut */

.div-header {  /* Haut du header */
  height: 85px; /* Hauteur */
  display: block; /* * */
  background-color: #353535; /* Lacrim */
}

.ico1 { /* Icone du haut */
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
}

nav { /* bas du header */
  height: 20px;
  display: block;
  padding: 15px;
  background-color: #000000;
}

.ico2 { /* Icone du bas */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logo { /* Bah le logo */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.logo:hover { /* Quand souris sur logo */
  transition: 500ms;
  transform: scale(1.2);
}
img:hover { /* Quand souris sur img */
  transition: 200ms;
  transform: scale(1.05);
}
