main{
    margin: top 270px;
}

.titre-ghostrecon{
    margin-left: 10px;
}
.titre-watchdogs{
    margin-left: 10px;
}

hr{ 
    border: none;
    border-top: 10px solid white;
}

img{
    float: right;
    margin-right: 2%;
}


table{
    margin-left: 50px;
    border-radius: 5px;
    
}


th{
    margin-left: 0px;
    padding: 10px;
    border-radius: 10px;
}  

td{
    text-align: center;
}


h2{
    margin-left: 20px;

}


p{ padding: 25px;
    max-width: 35% ;
}

tr:nth-of-type(2n){
    background-color: gray;
}
    