img.jeux {
    float: right;
    margin-left:1%;
    margin-right: 10px;
    width: 30%;
    height: 550px;
}

article {
    margin-left: 10px;
}

p {
    text-align: center;
}

.forcesetfaiblesses {
    display: flex;
    justify-content:space-around;
    padding: 20px;
}

table {
    border: 1px solid;
    border-radius: 5%;
    border-spacing: 0px;
    text-align: justify;
    width: 66%;
}
 th, td {
    padding: 10px;
    width: 50%;
 }

tr:nth-of-type(2n){
    background-color:grey;
}

h1 {
    text-align: center;
}